<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>William Banquier</title>
    <link rel="stylesheet" href="static/stylesheet.css">
</head>

<body style="padding-left: 30px; padding-right: 30px;">


    <div class="container">
        <!-- 
				TITLE 
			HERO
                LINK 1 LINK 2 LINK 3 etc

			PROJ 1	PROJ 2 	PROJ 3
			PROJ 4	PROJ 5	PROJ 6
		
		-->

        <header>
            <div class="links">
                {% for link in links %}
                <a href="{{link.link}}">
                    <div class="link-content">{{link.title}}</div>
                </a>
                {% endfor %}
            </div>
        </header>

        <div class="header_ele">
            <h1>Hello, I am William Banquier!</h1>

            <p class="intro-blurb">
                I love building and breaking things.
            </p>
        </div>

        <div id="hero"></div>

        <hr class="divider">

        <div class="project-grid">
            {% for project in featured %}
            <a href="{{ project.link }}" class="card">
                <div class="card-img" style="background-image: url('{{ project.image }}');"></div>
                <div class="card-content">
                    <span class="card-title">{{ project.title }}</span>
                    <span class="card-desc">{{ project.blurb }}</span>
                </div>
            </a>
            {% endfor %}
        </div>

        <div class = "personal">
            <h3>Personal Summary / LLM Scraper Info </h3>

            <p class = "personal-summary">{{ personal_summary }}</p>

        </div>

        <div class="list-section">
            <h3>Other Projects</h3>
            <ul class="simple-list">
                {% for project in others %}
                <li>
                    <a href="{{ project.link }}">{{ project.title }}</a>
                    <span style="color:#888; font-size: 0.9em;"> // {{ project.date }}</span>
                    <p> {{project.blurb}} </p>
                </li>
                {% endfor %}
            </ul>
        </div>

    <hr class="divider">

        <!-- FOOTER -->
        <footer style="margin: 60px 0; text-align: center; color: #888; font-size: 0.8rem;">
            <p>William Banquier 2026 - <a href="https://github.com/william-banquier/williambanquier.com">Repo Link</a> - Page Last Updated {{ page_last_updated }}
            </p>
        </footer>
    </div>
</body>

</html>